.btn {
  display: inline-block;
  padding: 7px 16px 5px;
  font-size: 10px;
  font-family: inherit;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background: var(--main);
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: box-shadow .25s ease-out;

  &:hover {
    box-shadow: 0 0 0 2px rgba(0, 128, 255, 0.2);
  }

  &--white {
    color: var(--dark);
    background: var(--white);
    border: 1px solid var(--gray);

    &:hover {
      box-shadow: 0 0 0 2px rgba(112, 112, 123, 0.2);
    }
  }
}