.checkbox {
  position: relative;
  display: inline-flex;
  cursor: pointer;

  &:hover {
    .checkbox__text::before {
      border-color: var(--main);
    }
  }
}

.checkbox__input {
  display: none;
}

.checkbox__text {
  color: var(--black);
  outline: none;
  &::before {
    display: inline-block;
    content: '';
    position: relative;
    top: 1px;
    margin-right: 4px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid var(--gray);
    border-radius: 2px;
    transition: all .15s ease-out;
  }
}

.checkbox__input:checked + .checkbox__text::before {
  border-color: var(--main);
  background-color: var(--main);
}

.checkbox__input:checked + .checkbox__text::after {
  position: absolute;
  content: '';
  left: 2px;
  top: 5px;
  width: 7px;
  height: 6px;
  background: url("../../img/check.svg") no-repeat;
  background-size: 7px 6px;
}

.checkbox__input:active + .checkbox__text::before {
  box-shadow: 0 0 0 2px rgba(0, 128, 255, 0.2);
}